body {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: 000;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: url("../andreyGavrilov/img/header-bg.jpg") no-repeat center top /
    cover;
}

header a {
  color: #ffffff;
}

.logo {
  margin-right: 69px;
}

.menu {
  display: flex;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.menu li {
  margin-right: 40px;
}

.tel {
  font-size: 17px;
  text-decoration: none;
  margin-left: auto;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 57px;
}

.offer p,
h1,
a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.offer p {
  font-size: 25px;
}

.offer h1 {
  font-size: 100px;
  margin-bottom: 19px;
  margin-top: -9px;
  letter-spacing: 0.02em;
}

.offer {
  padding-top: 250px;
  padding-left: 213px;
  padding-bottom: 322px;
}

.but {
  display: block;
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  border: 1px solid #fff;
  width: 238px;
  transition: all 0.5s ease;
}

.but:hover {
  background-color: #fff;
  color: #000000;
}

.about {
  padding-top: 113px;
}

h2 {
  padding-bottom: 58px;
  font-family: "Anton";
  font-size: 50px;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-family: "Anton";
  padding-bottom: 19px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.first {
  width: 567px;
}

.second {
  width: 567px;
}

.info p {
  font-family: "Open Sans";
  font-weight: 400;
  text-align: justify;
  line-height: 1.62em;
}

.gallery {
  padding-top: 67px;
  display: flex;
  justify-content: space-between;
}

.footer {
  padding-top: 114px;
  display: flex;
  padding-bottom: 80px;
}

.footer p {
  font-size: 14px;
  font-family: "Open Sans";
  color: #000000;
}

.footer-text {
  display: flex;
}

.footer-text p {
  margin-right: 66px;
}
